name: CI - Build & Push to ECR
on:
  pull_request:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Log in to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build & Push Docker image
        run: |
          REPO=${{ secrets.ECR_REPOSITORY }}
          IMAGE_TAG=${GITHUB_SHA::7}
          docker build -t $REPO:$IMAGE_TAG .
          docker tag $REPO:$IMAGE_TAG ${{ steps.login-ecr.outputs.registry }}/${REPO}:$IMAGE_TAG
          docker push ${{ steps.login-ecr.outputs.registry }}/${REPO}:$IMAGE_TAG
