name: CI - Build & Push to ECR
on:
  pull_request:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Log in to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build & Push Docker image
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}
          REGISTRY=${{ steps.login-ecr.outputs.registry }}
          REPO=${{ secrets.ECR_REPOSITORY }}

          docker build -t $REGISTRY/$REPO:$IMAGE_TAG .
          docker push $REGISTRY/$REPO:$IMAGE_TAG
          
  deploy-to-ec2:
   runs-on: ubuntu-latest
   if: github.event_name == 'workflow_dispatch || github.event_name=='pull_request'
   steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            IMAGE_TAG=${GITHUB_SHA::7}
            REGISTRY=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.us-east-1.amazonaws.com
            REPO=${{ secrets.ECR_REPOSITORY }}
      
            docker pull $REGISTRY/$REPO:$IMAGE_TAG
            docker stop app || true
            docker rm app || true
            docker run -d -p 80:7002 --name app $REGISTRY/$REPO:$IMAGE_TAG

  
